.container-password {
  min-height: revert;
  padding: 30px 10px;
}

.container-password .message-error {
  margin: 10px 0 0 !important;
  display: none;
}

.container-reset-password {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card-reset-password {
  background: var(--bg-primary);
  padding: 40px 20px 20px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
  width: 420px;
}

.content-reset-password {
  width: 100%;
}

.content-first-password, .content-second-password  {
  width: 100%;
}

.content-first-password > h1, .content-second-password > h1 {
  color: #fff;
  margin: 10px 10px 0;
  text-align: center;
}

.content-first-password > h2, .content-second-password > h2 {
  color: var(--text-secondary);
  margin: 5px 0 15px;
  text-align: center;
}

.btn-send-user, .btn-edit-password {
  background: var(--primary);
  padding: 15px 20px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  transition: .25s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  color: #fff;
}

.btn-send-user:hover, .btn-edit-password:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.5);
}
