<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard | Início</title>
    <link rel="shortcut icon" href="/admin/assets/images/logo.png">
    
    <!-- import style:js -->
    <script src="/admin/static/js/styles.js"></script>
    <style>
      .tooltip-inner {
        max-width: 210px;
      }
    </style>
  </head>
 
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <div id="navbar-content"></div>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

    <!-- partial:partials/_sidebar.html -->
    <div id="sidebar-content"></div>

    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="d-flex align-items-center justify-content-between">
                      <h5 class="font-weight-semibold">Página inicial</h5>

                      <button id="att_list" type="button" class="btn btn-sm btn-light" data-toggle="tooltip" title="Ir para o site" style="margin-bottom: -0.4525rem;"><i class="icon-action-redo"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <!-- <h4 class="card-title" style="text-transform: none;">Transações na semana</h4> -->
                <div class="d-flex justify-content-center">
                  <img class="img-fluid " src="/admin/assets/images/logo.png"  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <div id="footer-content"></div>

  <!-- plugins:js -->
  <script src="../admin/assets/vendors/js/vendor.bundle.base.js"></script>
  <script src="../admin/assets/vendors/jquery-mask/dist/jquery.mask.min.js"></script>
  <script src="../admin/assets/vendors/sweetalert2/dist/sweetalert2.all.min.js"></script>
  <!-- import partials:js -->
  <script src="/admin/static/js/partials.js"></script>
  <script defer="defer" src="/admin/static/js/app.js"></script>
  <!-- Custom js for this page -->
  <script src="../admin/assets/js/dashboard.js"></script>
  <script src="../admin/assets/vendors/chart.js/Chart.min.js"></script>
 <!-- <script src="../admin/assets/vendors/chartist/chartist.min.js"></script> -->
  <!-- End custom js for this page -->
  <script src="../admin/assets/vendors/moment/moment.min.js"></script>
  <script src="../admin/assets/vendors/datatable/datatables.min.js"></script>
  <script src="../admin/assets/vendors/daterangepicker/daterangepicker.js"></script>

  </body>
</html>


