<div class="container-responsive footer">
  <div class="content-footer">
    <div class="item-footer">
      <div class="container-buttons-app">
        <button class="btn btn-app android">
          <i class="fab fa-android"></i>
          <hr>
          <span class="btn-app-span">
            <small>Instalar no</small>
            <h1>Android</h1>
          </span>
        </button>
        <button class="btn btn-app ios">
          <i class="fab fa-apple"></i>
          <hr>
          <span class="btn-app-span">
            <small>Instalar no</small>
            <h1>IOS</h1>
          </span>
        </button>
      </div>
      <div class="text-payment">
        <h1>Jogo do Bicho Online</h1>
        <h2>Todos os pagamentos processados com <strong>segurança</strong></h2>
      </div>
    </div>
    <div class="item-footer">
      <div class="container-method-payment">
        <span class="content-method-payment">
          <img src="./assets/images/pay-brokers.svg" alt="Método Paybrokers | Jogo do Bicho Online - Bicho Mania">
        </span>
        <span class="content-method-payment">
          <img src="./assets/images/mercado-pago.svg"
            alt="Método Mercado Pago | Jogo do Bicho Online - Bicho Mania">
        </span>
        <span class="content-method-payment">
          <img src="./assets/images/pix.svg" alt="Método PIX | Jogo do Bicho Online - Bicho Mania">
        </span>
      </div>
    </div>
    <div class="item-footer">
      <nav class="footer-nav">
        <p class="footer-nav-title">Ajuda</p>
        <ul class="footer-nav-list">
          <li class="footer-nav-list-item"><a class="footer-nav-link" href="/responsavel">Jogo
              Responsável</a></li>
          <li class="footer-nav-list-item"><a class="footer-nav-link" href="/cookies">Política de
              Cookies</a></li>
          <li class="footer-nav-list-item"><a class="footer-nav-link" href="/termos">Termos e
              Condições</a></li>
          <li class="footer-nav-list-item"><a class="footer-nav-link" href="/privacidade" rel="Privacidade">Política
              de Privacidade</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="content-footer">
    <img src="./assets/images/icon-logo.svg" alt="">
    <p>
      <a href="https://bichomania.bet/">bichomania.bet</a> is operated by Ahnah Investments N.V. (Reg no. 163136),
      Abraham de Veerstraat 9, Willemstad, P.O. Box 3421, Curaçao, which having all the rights to operate the gaming
      software and/or offer games of chance under the Curacao License no. 365/JAZ. Payments are processed by Ahnah
      Investments Limited, 75 Prodromou Avenue, Oneworld Parkview House, 1st floor, Nicosia, 2063 Cyprus, acting as
      the payment agent as per agreement between the two companies.
    </p>
  </div>
</div>
