<div class="content-header">
  <div class="message-user">
    <!-- Olá, ${user}. Bem vindo(a)! -->
  </div>
  <div class="options-user open-users">
    <span class="icon-user">
      <i class="fas fa-user"></i>
      <!-- IMAGEM USUÁRIO -->
    </span>
    <span class="name-user">
      <!-- NOME USUÁRIO -->
    </span>
  </div>
</div>
<div class="content-header mobile">
  <a href="/" class="img-logo">
    <img src="./assets/images/logo.svg" alt="JOGO DO BICHO ONLINE - APOSTAR">
  </a>
  <div class="menu-burger">
    <div id="menuBurguer">
      <div id="verifyLinesBurguers"></div>
      <span class="menu-burguer-lines"></span>
      <span class="menu-burguer-lines"></span>
      <span class="menu-burguer-lines"></span>
    </div>
  </div>
</div>
