<div class="container-menu">
  <div class="content-menu">
    <div class="options-user mobile open-users">
      <span class="icon-user">
        <i class="fas fa-user"></i>
        <!-- IMAGEM USUÁRIO -->
      </span>
      <span class="name-user">
        <!-- NOME USUÁRIO -->
      </span>
    </div>
    <div class="logo-menu">
      <a href="/" title="Voltar para página principal">
        <img src="./assets/images/logo.svg" alt="" />
      </a>
    </div>
    <div class="balance-available">
      <div class="coin">
        <img src="./assets/images/coin-user.svg" alt="" />
      </div>
      <div class="user-balance">
        <h2>Saldo disponível</h2>
        <h1 id="userBalance"></h1>
      </div>
      <button
        type="button"
        title="Esconder valor"
        class="toggle-money-visibility"
      >
        <i class="fas fa-eye"></i>
      </button>
    </div>
  </div>

  <ul class="side-menu">
      <li class="options-menu active">
        <a href="https://wa.me/5541988467747" target="_blank">
            <i class="fab fa-whatsapp"></i>
           SUPORTE
        </a>
      </li>
      <li class="options-menu">
          <a href="/jogar" data-url="jogar" title="Realizar jogo">
              <i class="fas fa-gamepad"></i>
              Jogar
          </a>
      </li>
      <li class="options-menu">
        <a href="/apostas" data-url="apostas" title="Verificar apostas">
            <i class="fas fa-coins"></i>
            Apostas
        </a>
      </li>
      <li class="options-menu">
          <a class="open-bonus" title="Resgatar bônus">
              <i class="fas fa-ticket-alt"></i>
              Bônus
          </a>
      </li>
      <li class="options-menu">
          <a class="open-bank" title="Realizar depósito ou saque">
              <i class="fas fa-university"></i>
              Banco
          </a>
      </li>
      <li class="options-menu">
          <a href="/extrato" data-url="extrato" title="Verificar extrato">
              <i class="fas fa-scroll"></i>
              Extrato
          </a>
      </li>
      <li class="options-menu">
          <a href="/cupons" data-url="cupons" title="Verificar cupons resgatados">
              <i class="fas fa-list-ul"></i>
              Cupons Resgatados
          </a>
      </li>
      <li class="options-menu">
          <a href="/#resultados" title="Verificar resultados">
              <i class="fas fa-chart-pie"></i>
              Deu no Poste
          </a>
      </li>
      <li class="options-menu">
         <a href="/#cotacao" title="Verificar cotação">
              <i class="fas fa-clipboard"></i>
              Tabela
         </a>
      </li>
      <li class="options-menu">
          <a href="/minha-rede" data-url="minha-rede" title="Verificar minha rede">
              <i class="fas fa-user-friends"></i>
              Minha Rede
          </a>
      </li>
      <li class="options-menu">
          <a class="open-share" title="Compartilhar">
              <i class="fas fa-envelope-open"></i>
              Cambista
          </a>
      </li>
      <li class="options-menu">
        <a href="#" id="logoutUser" title="Sair">
          <i class="fas fa-sign-out-alt"></i>
          Sair
        </a>
      </li>
  </ul>
</div>
<!-- <div class="wpp">
  <a class="wpp-float" href="https://wa.me/554188467747" target="_blank">
      <i class="fab fa-whatsapp"></i>
  </a>
  <a href="https://wa.me/554188467747" target="_blank" class="wpp-float-text">
      <span>Precisando de ajuda?</span>
  </a>
</div> -->
