<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mega Bicho ♣ A maior banca de jogo do bicho online no Brasil</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="./assets/css/default.css">
  <link rel="stylesheet" href="./assets/css/modal.css">
  <link rel="stylesheet" href="./assets/css/home.css">
  <link rel="stylesheet" href="./assets/css/404.css">
  <link rel="stylesheet" href="./assets/css/responsive.css">
  <link rel="stylesheet" href="./assets/css/font-awesome.css">
</head>

<body>


  <main class="container-home-404">
    <div class="container-header">
      <header class="home-header">
        <a href="/" class="content-logo-home">
          <img src="./assets/images/logo.svg" alt="Jogo do Bicho Online - Logo Mega Bicho">
          <img src="./assets/images/icon-logo.svg" alt="Jogo do Bicho Online - Logo Mega Bicho Mobile">
        </a>
        <div class="content-button">
          <a href="/" class="btn btn-register">
            Voltar
          </a>
        </div>
      </header>
    </div>

    <div class="content-home">
      <div class="img-home">
        <span class="blur"></span>
        <img src="./assets/images/not-found.svg" alt="Jogo do Bicho Online - Imagem página não encontrada">
        <span class="blur"></span>
      </div>
      <div class="container-text-404">
        <h1>Oops...</h1>
        <h3>Parece que você se aventurou em território desconhecido.</h3>
        <h3>A página que você procura não foi encontrada!</h3>
        <h2> Que tal voltar ao caminho <span>conhecido</span>?</h2>
        <a href="/" class="btn btn-register btn-back">
          Voltar
        </a>
      </div>
    </div>

  </main>
  <footer class="container-footer" id="footerIndex">

  </footer>


  <script src="./assets/js/jquery-3.6.4.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.3.0/luxon.min.js"
    integrity="sha512-KKbQg5o92MwtJKR9sfm/HkREzfyzNMiKPIQ7i7SZOxwEdiNCm4Svayn2DBq7MKEdrqPJUOSIpy1v6PpFlCQ0YA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
    integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
    integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.18/dist/sweetalert2.all.min.js"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="./assets/js/home.js"></script>

  <script>
    $(document).ready(function () {
      ScrollReveal().reveal('.img-home>img', {
        distance: '20px',
        duration: 1000,
        easing: 'ease-in-out',
        origin: 'bottom',
        opacity: 0.9,
        rotate: { x: 0, y: 90, z: 0 },
        scale: 0.1,
      });

      ScrollReveal().reveal('.blur', {
        delay: 500,
        distance: '50px',
        duration: 250,
        rotate: { x: 0, y: 40, z: 0 },
        scale: 0.1,
        easing: 'ease-in',
        origin: 'top right',
      });

      ScrollReveal().reveal('.container-text-404>h1', {
        delay: 500,
        distance: '10px',
        duration: 250,
        easing: 'ease-in',
        origin: 'bottom',
      });

      ScrollReveal().reveal('.container-text-404>h2', {
        delay: 500,
        distance: '5px',
        duration: 250,
        easing: 'ease-in',
        origin: 'top',
      });

      ScrollReveal().reveal('.container-text-404>h3', {
        delay: 500,
        distance: '5px',
        duration: 250,
        easing: 'ease-in',
        origin: 'top right',
      });
      ScrollReveal().reveal('.btn-back', {
        delay: 200,
        distance: '25px',
        duration: 250,
        easing: 'ease-in',
        origin: 'right',
      });
    });
  </script>

</body>

</html>
