<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minha Rede - Bicho Mania</title>
  <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.18/dist/sweetalert2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- DATATABLE -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
  <!-- DATATABLE -->
  <link rel="stylesheet" href="./assets/css/default.css">
  <link rel="stylesheet" href="./assets/css/side_menu.css">
  <link rel="stylesheet" href="./assets/css/modal.css">
  <link rel="stylesheet" href="./assets/css/network.css">
  <link rel="stylesheet" href="./assets/css/responsive.css">
  <link rel="stylesheet" href="./assets/css/font-awesome.css">
</head>

<body>

  <div id="modalMania"></div>

  <div class="loading-screen">
    <div class="content-logo">
      <img src="./assets/images/logo.svg" alt="Jogo do Bicho Online - Logo">
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="tradicional">
    <aside id="sideMenu" class="">
      <!-- IMPORTAÇÃO LATERAL MENU -->
    </aside>
    <main class="main-games">
      <header class="header-user">
        <!-- IMPORT JS -->
      </header>

      <section class="my-network">
        <div class="container-network">
          <div class="container-inputs-extract">
            <div class="form-group">
              <input type="date" id="inputDataStart">
              <label for="inputDataStart">Data Início</label>
            </div>
            <div class="form-group">
              <input type="date" id="inputDataEnd">
              <label for="inputDataEnd">Data Fim</label>
            </div>
          </div>
          <article class="content-network">
            <table id="listNetwork" class="display" style="width:100%; color: #fff;">
              <thead>
                  <tr>
                      <th style="text-align: center; color: #fff;">Data</th>
                      <th style="text-align: center; color: #fff;">Usuário</th>
                      <th style="text-align: center; color: #fff;">Valor</th>
                      <th style="text-align: center; color: #fff;">Comissão</th>
                  </tr>
              </thead>
              <tbody>

              </tbody>

            </table>
          </article>
        </div>
      </section>

    </main>
  </div>

  <script src="./assets/js/jquery-3.6.4.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.3.0/luxon.min.js"
    integrity="sha512-KKbQg5o92MwtJKR9sfm/HkREzfyzNMiKPIQ7i7SZOxwEdiNCm4Svayn2DBq7MKEdrqPJUOSIpy1v6PpFlCQ0YA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
    integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"
    integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.18/dist/sweetalert2.all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/0.9.0/jquery.mask.min.js" integrity="sha512-oJCa6FS2+zO3EitUSj+xeiEN9UTr+AjqlBZO58OPadb2RfqwxHpjTU8ckIC8F4nKvom7iru2s8Jwdo+Z8zm0Vg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- DATATABLE -->
  <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
  <!-- DATATABLE -->
  <script src="./assets/js/dataTable.js"></script>
  <script src="./assets/js/network.js"></script>

  <script type="text/javascript">
    $("#sideMenu").load("./layout/side_menu.html");
    $("header.header-user").load("./layout/header.html");
    $("#modalMania").load("./layout/modal.html");

    $(document).ready(function () {
      $.getScript("./assets/js/menus.js");
      $.getScript("./assets/js/modal.js");
      $.getScript("./assets/js/bank.js");
    });
</script>

</body>

</html>
