<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mega Bicho ♣ A maior banca de jogo do bicho online no Brasil</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="./assets/css/default.css">
  <link rel="stylesheet" href="./assets/css/modal.css">
  <link rel="stylesheet" href="./assets/css/home.css">
  <link rel="stylesheet" href="./assets/css/responsive.css">
  <link rel="stylesheet" href="./assets/css/font-awesome.css">
</head>

<body>

  <!-- MODAL SIGNUP -->
  <div class="modal modal-signup d-none">
    <div class="modal-content">
      <div class="modal-title">
        <div class="icon-success">
          <i class="fas fa-check-double"></i>
        </div>
        <button class="btn btn-close-modal">
          <i class="fas fa-times-circle"></i>
        </button>
      </div>
      <div class="modal-body">
        <h1>Seja bem-vindo(a)!</h1>
        <h2>Aqui você encontrará <strong>emoção</strong>, <strong>oportunidades</strong> e a chance de transformar sua <strong>sorte</strong>. <br> Desfrute da experiência e que seus palpites sejam sempre certeiros.</h2>
        <h3>Boa sorte!</h3>
        <button class="btn btn-go">Entrar</button>
      </div>
    </div>
  </div>

  <!-- MODAL LOGIN -->
  <div class="modal modal-login d-none">
    <div class="modal-content">
      <div class="modal-title">
        <img src="./assets/images/icon-logo.svg" alt="Jogo do Bicho Online - Mega Bicho">
        <button class="btn btn-close-modal">
          <i class="fas fa-times-circle"></i>
        </button>
      </div>
      <div class="modal-body">
        <h1 class="title-modal-login">Entrar</h1>
        <div class="container-inputs-login">
          <form action="">
            <div class="content-inputs-login">
              <button class="btn btn-login-google" title="EM BREVE!" disabled data-hover="EM BREVE!">
                <img src="./assets/images/icon-google.svg" alt="Jogo do Bicho Online - Mega Bicho, Login com Google">
                Google
              </button>
            </div>
            <div class="content-separator">
              <span class="hr-separator"></span>
              <h1>ou</h1>
              <span class="hr-separator"></span>
            </div>
            <div class="content-inputs-login">
              <div class="input-group">
                <label for="userLogin" class="label-text" id="labelTextUser">Usuário</label>
                <label for="userLogin" class="label-icon">
                  <i class="fas fa-user"></i>
                </label>
                <input type="text" autocomplete="off" id="userLogin" class="input-login"
                  placeholder="Insira seu usuário">
              </div>
              <div class="input-group">
                <label for="passwordLogin" class="label-text" id="labelTextPassword">Senha</label>
                <label for="passwordLogin" class="label-icon">
                  <i class="icon-lock fas fa-lock"></i>
                </label>
                <input type="password" autocomplete="off" id="passwordLogin" class="input-login"
                  placeholder="Insira sua senha">
                <label for="passwordLogin" class="label-icon password-icon d-none">
                  <i class="icon-eye fas fa-eye"></i>
                </label>
                <a href="/recuperar-senha">Esqueceu sua senha?</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="alert-login active">
        <h1 class="line-error"></h1>
      </div>
      <div class="modal-footer">
        <div class="input-group">
          <input type="checkbox" id="rememberLogin">
          <label for="rememberLogin" class="label-remember">Mantenha-me logado</label>
        </div>
        <button class="btn btn-modal-login" id="btnLogin">Entrar</button>
      </div>
    </div>
  </div>

  <div class="loading-screen">
    <div class="content-logo">
      <img src="./assets/images/logo.svg" alt="Jogo do Bicho Online - Logo">
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <main class="container-home container-register">
    <div class="container-header">
      <header class="home-header">
        <a href="/" class="content-logo-home">
          <img src="./assets/images/logo.svg" alt="Jogo do Bicho Online - Logo Mega Bicho ">
          <img src="./assets/images/icon-logo.svg" alt="Jogo do Bicho Online - Logo Mega Bicho Mobile">
        </a>
        <div class="content-buttons-home">
          <button class="btn btn-login">
            Entrar
          </button>
          <a href="/cadastrar" class="btn btn-register">
            Criar conta
          </a>
        </div>
      </header>
    </div>

      <div class="container-signup container-responsive">

        <div class="header-signup">
          <h1>Bem vindo!</h1>
          <h2>Crie sua conta gratuitamente e aposte online!</h2>
        </div>

        <form class="form-signup" action="">

          <div class="row">
            <div class="input-group">
              <label for="firstName" class="label-text" id="labelTextName">Primeiro nome</label>
              <label for="firstName" class="label-icon">
                <i class="fas fa-user"></i>
              </label>
              <input type="text" autocomplete="off" id="firstName" class="input-login" placeholder="Insira seu primeiro nome">
            </div>
            <div class="input-group">
              <label for="secondName" class="label-text" id="labelTextSecondName">Segundo nome</label>
              <label for="secondName" class="label-icon">
                <i class="fas fa-user"></i>
              </label>
              <input type="text" autocomplete="off" id="secondName" class="input-login" placeholder="Insira seu segundo nome">
            </div>
          </div>

          <div class="row">
            <div class="input-group">
              <label for="dateOfBirth" class="label-text" id="labelTextBirth">Data de Nascimento</label>
              <label for="dateOfBirth" class="label-icon">
                <i class="fas fa-user"></i>
              </label>
              <input type="text" autocomplete="off" id="dateOfBirth" class="input-login" placeholder="Insira sua data de nascimento">
            </div>
            <div class="input-group">
              <label for="userCell" class="label-text" id="labelTextCell">Celular</label>
              <label for="userCell" class="label-icon">
                <i class="fas fa-phone-alt"></i>
              </label>
              <input type="text" autocomplete="off" id="userCell" class="input-login" placeholder="Insira seu celular">
            </div>
          </div>

          <div class="row">
            <div class="input-group">
              <label for="userEmail" class="label-text" id="labelTextEmail">E-mail</label>
              <label for="userEmail" class="label-icon">
                <i class="fas fa-envelope"></i>
              </label>
              <input type="text" autocomplete="off" id="userEmail" class="input-login" placeholder="Insira seu e-mail">
            </div>
          </div>

          <div class="row">
            <div class="input-group">
              <label for="userNick" class="label-text" id="labelTextNick">Usuário</label>
              <label for="userNick" class="label-icon">
                <i class="fas fa-user-tag"></i>
              </label>
              <input type="text" autocomplete="off" id="userNick" class="input-login" placeholder="Insira seu usuário">
            </div>
            <div class="input-group">
              <label for="userGender" class="label-text" id="labelTextGender">Gênero</label>
              <label for="userGender" class="label-icon">
                <i class="fas fa-venus-mars"></i>
              </label>
              <select class="input-login select-gender" name="" id="selectGender">
                <option value="">Selecione seu gênero</option>
                <option value="M">Homem</option>
                <option value="F">Mulher</option>
                <option value="">Prefiro não dizer</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="input-group">
              <label for="userPassword" class="label-text" id="labelTextPassword">Senha</label>
              <label for="userPassword" class="label-icon">
                <i class="fas fa-user"></i>
              </label>
              <input type="text" autocomplete="off" id="userPassword" class="input-login" placeholder="Insira sua senha">
            </div>
            <div class="input-group">
              <label for="userRepeatPassord" class="label-text" id="labelTextRepeatPassword">Repita a senha</label>
              <label for="userRepeatPassord" class="label-icon">
                <i class="fas fa-user"></i>
              </label>
              <input type="text" autocomplete="off" id="userRepeatPassord" class="input-login" placeholder="Insira novamente sua senha">
            </div>
          </div>
        </form>

        <div class="message-error" style="display: none;">
        </div>

        <div class="container-complete-signup">
          <p>
            Ao clicar no botão cadastrar você <strong>confirma</strong>:
            <br>
            Ser maior de <strong>18 anos</strong> e estar de acordo com os <strong>nossos</strong> <br>
            <a href="/termos">termos e condições</a>
          </p>
          <button class="btn btn-signup">
            Cadastrar-se
          </button>
        </div>

      </div>
  </main>
<footer class="container-footer" id="footerIndex">

  </footer>

  <script src="./assets/js/jquery-3.6.4.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.3.0/luxon.min.js"
    integrity="sha512-KKbQg5o92MwtJKR9sfm/HkREzfyzNMiKPIQ7i7SZOxwEdiNCm4Svayn2DBq7MKEdrqPJUOSIpy1v6PpFlCQ0YA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
        integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
    integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.18/dist/sweetalert2.all.min.js"></script>
  <script src="./assets/js/home.js"></script>
  <script src="./assets/js/signup.js"></script>

</body>

</html>
